.display-none {
	display: none;
}

.modal {
	top: 20px;
	left: 100px;
	position: absolute;
	width: 500px;
	border: 1px solid black;
	box-shadow: 0 0 5px black;
	background: white;
	padding-bottom: 10px;
}
.modal form {
	width: 100%;
}

.modal .close {
	float: right;
}

.modal .title {
	padding: 10px;
	border-bottom: 1px solid black;
}
.modal .content {
	padding: 10px;
}

.flow-step {
	display: inline-block;
	padding: 5px;
	border: 1px solid #ccc;
	border-radius: 3px;
}


/* FORM */
label {
	width: 100px;
	display: inline-block;
	line-height: 18px;
}
input[type="text"] {
	line-height: 18px;
	border: none;
	border: 1px solid #ccc;
	border-radius: 3px;
	padding-left: 2px;
}
input[type="text"]:focus, input[type="text"]:active {
	outline: none;
	border: none;
	border: 1px solid black;
	border-radius: 3px;
}

input[type="submit"] {
	float: right;
	margin-right: 10px;
}
