.display-none {
	display: none;
}

/* MODAL */
.modal {
	top: 20px;
	left: 100px;
	position: absolute;
	width: 500px;
	border: 1px solid black;
	box-shadow: 0 0 5px black;
	background: white;
	padding-bottom: 10px;
}
.modal form {
	width: 100%;
}

.modal .close {
	float: right;
}

.modal .title {
	padding: 10px;
	border-bottom: 1px solid black;
}
.modal .content {
	padding: 10px;
}


/* FORM */
label {
	width: 100px;
	display: inline-block;
	line-height: 18px;
}
input[type="text"] {
	line-height: 18px;
	border: none;
	border: 1px solid #ccc;
	border-radius: 3px;
	padding-left: 2px;
}
input[type="text"]:focus, input[type="text"]:active {
	outline: none;
	border: none;
	border: 1px solid black;
	border-radius: 3px;
}

input[type="submit"] {
	float: right;
	margin-right: 10px;
}


/* STEP IN "TIMELINE" */
.flow-step {
    display: inline-block;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    position: relative;
    margin-right: 10px;
    margin-top: 10px;
}

.flow-step .pin {
    border: 1px solid black;
    position: absolute;
    right: -10px;
    top: -10px;
    width: 20px;
    height: 20px;
    text-align: center;
    background: #87cefa;
}

.flow-step.ALERT .pin {
    background: red;
}
.flow-step.LATE .pin {
    background: orange;
}
.flow-step.VALIDATED .pin {
    background: green;
}
.flow-step.DONE .pin {
    background: blue;
}

.flow-info {
    float: left;
    margin-right: 20px;
}

/* CORE */
.btn, .btn:active, .btn:visited {
    border: 1px solid gray;
    background: lightGray;
    text-decoration: none;
    color: black;
    padding: 3px 5px 2px 5px;
    font-size: 80%;
    display: inline-block;
}

.btn:hover {
    cursor: pointer;   
}

dl, dt, dd, ul {
    margin: 0;
    padding: 0;
}

ul, ol, li {
    list-style-type: none;
}

/* Main list */
.flow-list {
    margin-top: 5px;
}

.flow-list dt {
    background: lightBlue;
    padding: 10px 5px;
    border: 1px solid black;
}

.flow-list dd {
    margin: 10px;
}